
*{
    margin: 0px; padding: 0px;
} 
.header {
    display: table;
    width: 100%;
    height: 53px;
}
ul.headerUL {
    list-style: none;
    height: 52px;
    background: linear-gradient(#71f18ded,#4f9554c7);
    border: 2px solid #91f190;
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 100%;
}
li.headerLi {
    float: left;
    position: relative;
}
a.headerButton {
    text-align: center;
    text-decoration: none;
    padding: 13px 13px;
    font-size: 19px;
    display: block;
    color: white;
    transition: all .5s;
}
a.headerButton:hover{
    transform: scale(.9);
    background: whitesmoke;
    color: deepskyblue;
    font-size:23px;
}
li.headerLogIn {
    text-align: center;
    text-decoration: none;
    padding: 0px 0px;
    font-size: 23px;
    display: block;
    float: right;
}
ul.subMenu {
    position: absolute;
    top: 53px;
    left: 194px;
    list-style: none;
    width: 131px;
    background: linear-gradient(#71f18ded,#4f9554c7);
    border-top: 3px #606997 solid;
    overflow: hidden;
    transform: scaleY(0);
    opacity: .25;
    transform-origin: top;
    transition: all 1s;
}
.headerUL:hover .subMenu{
    opacity: 100;
    transform: scaleY(1);
}

li.subHeaderLi {
    width: 100%;
    margin-left: -20px;
}
.subMenu a {
    text-decoration: none;
    font-size: 18px;
    padding-top: 18px;
    color: white;
    padding-bottom: 18px;
    padding-left: 29px;
    display: block;
    transition: all .5s;
}
.subMenu a:hover{
    transform: scale(.9);
    transform: translate(20px);
    background: whitesmoke;
    color: deepskyblue;
    font-size:23px;
}
.sajeeb{
    padding: 60px 30px;
    text-align: center;
    color: tomato;
    font-size: 30px;
   
}
.welcomeSaj{
    animation-name: sajeeb;
    animation-duration: 3s;
}

 @keyframes sajeeb{
     from{
         transform: scale(3);
     }
     to{
         transform: scale(1);
     }
 }
.homePage{
    background: rgb(206, 214, 240);
    padding: 30px 0px;
}
.animationOnly{
    animation-name: loggin;
    animation-duration: 2s;

}
@keyframes loggin{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.extraDIVinputText{
    width: 571px;
    padding: 5px;
    border: 6px solid #a0cdd5de;
    border-radius: 20px;
    margin: auto;
}
.inputText{
    width: 500px;
    padding: 35px;
    background: #b2cdd1e8;
    border-radius: 10px;
}
.namePassword input{
    width: 97%;
    font-size: 13px;
    padding: 11px 5px;
    border-radius: 8px;
    background: #8ab9c4c4;
    margin-bottom: 20px;
}
.signUp input{
    width: 100%;
    border: 2px solid #598f37;
    padding: 8px 5px;
    margin-top: 18px;
    color: #382b5fb0;
    border-radius: 8px;
    background: #628d5fde;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 4px;
    transition: all 1s;
}
.signUp input:hover{
    transform: scale(1.1);
    cursor: pointer;
    background: lavender;
    color: rgb(16, 25, 44);
}

.createAccount{
    width: 200px;
    margin: auto;
}
.createAccountH{
    display: block;
    text-decoration: none;
    border: 2px solid #33416a;
    background: #4f4fe1;
    padding: 10px;
    font-size: 20px;
    color: white;
    font-style: italic;
    border-radius: 4px;
    text-align: center;
    transition: all 1s;
}
.createAccountH:hover{
    transform: translateY(-10px);
    color: blue;
    background: white;
}
.copyright{
    background: #3b0a0a9c;
    color: white;
    padding: 23px;
    overflow: hidden;
}
.copyRigh{
    text-align: center;
    font-size: 14px;
}
.trainPage{
    background: #d76651eb;
    border: 2px solid #ce7474;
    float: right;
    padding: 0px;
    margin: 0px;
    overflow: hidden;

}
.trainPagePA{
    text-decoration: none;
    font-size: 18px;
    padding: 10px 27px;
    color: #04660bb5;
    display: block;
    transition: all 1s;

}
.trainPagePA:hover{
    color: white;
    background: black;
    transform: scale(2);
}
